.header-text__lang-link {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.header-text__lang-link:hover {
  text-decoration: underline;
  opacity: 0.8;
}

@media (max-width: 320px) {
  .header-text__lang-link {
    width: 22px;
    font-size: 18px;
    line-height: 20px;
  }
}
