.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  margin: 0;
  align-self: center;
}

@media (max-width: 680px) {
  .footer__copyright{
  align-self: start;
  }
}

@media (max-width: 320px) {
  .footer__copyright {
    line-height: 14px;
  }
}
