.place {
  max-width: calc(100% - (2*148px));
  margin: 0 auto 80px auto;
  display: grid;
  grid-template-columns: 460fr 484fr;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 48px;
  grid-column-gap: 40px;
  padding: 0px;
  justify-content: center;
}

@media (max-width: 1024px) {
  .place {
    max-width: calc(100% - (2*48px));
    grid-template-columns: 440px 456fr;
    grid-column-gap: 32px;
  }
}

@media (max-width: 768px) {
  .place {
    max-width: calc(100% - (2*24px));
    grid-template-columns: 340px 352fr;
    grid-column-gap: 28px;
    margin-bottom: 73px;
  }
}

@media (max-width: 680px) {
  .place {
    grid-template-columns: repeat(auto-fill, 325px);
  }
}

@media (max-width: 320px) {
  .place {
    grid-row-gap: 32px;
    grid-template-columns: repeat(auto-fill, 320fr);
    margin-bottom: 50px;
  }
}
