.place__website {
  text-decoration: none;
  align-self: end;
  padding: 0;
  list-style: none;
  margin: 0;
}

@media (max-width: 320px) {
  .place__website {
    margin-left: 16px;
    align-self: auto;
  }
}
