.intro__title {
  max-width: 690px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin: 0 0 40px 0;
}

@media (max-width: 680px) {
  .intro__title {
    font-size: 40px;
  line-height: 42px;
  }
}

@media (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    max-width: 230px;
    line-height: 35px;
    margin-bottom: 40px;
  }
}
